[submodule "keyboards/zmk-config-d3kb"]
	path = keyboards/zmk-config-d3kb
	url = https://github.com/TakeshiAkehi/zmk-config-d3kb.git
[submodule "keyboards/zmk-config-d3kb2"]
	path = keyboards/zmk-config-d3kb2
	url = https://github.com/TakeshiAkehi/zmk-config-d3kb2.git
[submodule "keyboards/zmk-config-fish"]
	path = keyboards/zmk-config-fish
	url = https://github.com/TakeshiAkehi/zmk-config-fish.git
